
/* Mobile */

header{ 
    height: 90px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    border-bottom: 1px solid rgba(253, 253, 253, 0.11);

}

header h1{
    color: var(--blue);
}

.nav-cabecalho {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 5px;

    position: absolute;
    top: 70px;
    right: 0;
    background: #111;
    flex-direction: column;
    width: 190px;

    transform: translateX(100%);
    transition: 0.3s;
}

.link-nav{
    color: rgba(255, 255, 255, 0.637);
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
}


.link-nav:active{
    color: var(--text); 
    transform: scale(1.01)
}

/* Menu Hambúrguer */

button.hamburguer{
display: flex;
background: transparent;
border: none;
cursor: pointer;
}

.material-symbols-outlined:active{
    color: rgba(79, 141, 247, 0.582);
}

.material-symbols-outlined{
    font-size: 35px;
}


.nav-cabecalho.ativo {
transform: translateX(0);
}


/* Tablet */
@media (min-width: 768px) {
    
    header{ 
        height: 80px;
        padding: 0 50px;
    }
    
    .nav-cabecalho{
        width: 40%;
        position: static;
        transform: none;
        background: transparent;

        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    
    .link-nav:active{
        color: var(--text); 
        transform: scale(1.01)
    }
    
    /* Menu Hambúrguer */
    
    button.hamburguer{
        display: none;
    }
}




/* Desktop */
@media (min-width: 1024px) {
    
    header{ 
        height: 70px;
        padding: 0 100px;
    }
    
    .nav-cabecalho{
        position: static;
        transform: none;
        background: transparent;

        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    
    .link-nav:hover{
        color: var(--text); 
        transform: scale(1.01)
    }
    
    /* Menu Hambúrguer */
    
    button.hamburguer{
        display: none;
    }
}





