header{ 
    height: 70px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    border-bottom: 1px solid rgba(253, 253, 253, 0.11);

}

header h1{
    color: var(--blue);
}

nav{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.link-nav{
    color: rgba(255, 255, 255, 0.637);
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 6px;
}

.link-nav:hover{
    color: var(--text); 
    transform: scale(1.01)
}

/* Menu Hambúrguer */

button.hamburguer{
    display: flex;
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
}

.material-symbols-outlined:hover{
    color: rgba(79, 141, 247, 0.582);
}

.material-symbols-outlined{
    font-size: 35px;
}



