/* Mobile */
section.inicio{
    margin:50px auto;
    padding: 0 5px;
    display: flex;
    flex-direction: column; 
    justify-content: center;  
}

section.inicio h1{
    width: 90%;
    margin: 0 auto;
    font-size: 3em;
    line-height: 70%;
    letter-spacing:-4px;
    text-align: center;
}

section.inicio p{
    font-family: var(--font-b);
    font-size: 1.3em;
    color: var(--text-dim);
    width: 350px;
    font-weight: 300;
    line-height: 30px;
    margin: 25px 0 50px;
    text-align: center;
    margin: 25px auto 50px;
}

span{
    color: var(--blue);
}

section.inicio h1, span{
    font-family: var(--font-h);

}

img.foto-perfil{
    margin: 0 auto;
    width: 300px;
    border-radius: 10%;
}

div.linha{

    margin: 0 0 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    

}

/* Desktop */
@media (min-width: 1024px) {
    
    section.inicio{
        padding: 20px 50px;
        width: 1355px;
        justify-content: space-between;
        flex-direction: row;
    
    }
    
    section.inicio h1{
        font-size: 6em;
        text-align: start;
        margin:0 ;
    }
    
    section.inicio p{
        font-size: 1.2em;
        width: 500px;
        margin: 0 ;
        line-height: 35px;
        text-align: start;
    }
    
    img.foto-perfil{
        margin: 0;
        width: 400px;
    }
    
    div.column{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    div.linha{
        margin: 0;
        width: 100%;
        height: 15%;
        justify-content: start;
    }

}
