section.inicio{
    margin:50px 0;
    padding: 20px 50px;
    width: 100%;
    justify-content: space-between;
    display: flex;

}

section.inicio h1{
    font-size: 6em;
    line-height: 70%;
    letter-spacing:-4px;
}

section.inicio p{
    font-family: var(--font-b);
    font-size: 1.2em;
    color: var(--text-dim);
    max-width: 500px;
    font-weight: 300;
    line-height: 35px;
}

span{
    color: var(--blue);
}

section.inicio h1, span{
    font-family: var(--font-h);

}

img.foto-perfil{
    width: 400px;
    border-radius: 10%;
}

div.column{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div.linha{
    height: 15%;
    display: flex;
    align-items: center;
    gap: 25px;
}
